<% require 'code_html_renderer' %>

<% content_for :title, @topic.title %>
<%= stylesheet_link_tag 'contentpage.css' %>
<%= stylesheet_link_tag 'topics/show.css' %>
<style><%= Pygments.css('.highlight') %></style>

<div id="page-content">
    <div id="content-header" class="content-tile">
        <h1 id="content-title"><%= @topic.title %></h2>
        <a href="/topics" id="backnav">Back to Topics List</a>
    </div>
    <div id="content-prerequisites" class="content-tile">
        <h2 class="tile-header">Prerequisites</h2>
        <% if @topic.prerequisites.empty? %>
            <p>This topic has no prerequisites.</p>
        <% end %>
        <ul>
            <% @topic.prerequisites.each do |prereq| %>
                <li><%= link_to(prereq.title, topic_path(prereq)) %></li>
            <% end %>
        </ul>
    </div>
    <div id="content" class="content-tile">
        <h2 class="tile-header">Lesson</h2>
        <% renderer = CodeHtmlRenderer.new(render_options = {
            escape_html: true,
            prettify: true,
        }) %>
        <%= raw Redcarpet::Markdown.new(renderer, extensions = {
            fenced_code_blocks: true,
            tables: true,
        }).render(@topic.content) %>
    </div>
    <div id="content-nextsteps" class="content-tile">
        <h2 class="tile-header">Next Steps</h2>
        <% if @topic.nextsteps.empty? %>
            <p>This topic has no next steps. Congratulations on finishing the current path!</p>
        <% end %>
        <ul>    
            <% @topic.nextsteps.each do |nextstep| %>
                <li><%= link_to(nextstep.title, topic_path(nextstep)) %></li>
            <% end %>
        </ul>
    </div>
</div>